h1{
    font-size: 80px;
}
.coloredHeader{
    color: rgb(29, 225, 127);
}
p{
    font-size: 25px;
}
button{
    font-size: 15px;
    width: 120px;
    height: 50px;
    border-radius: 30%;
    color:  rgb(29, 225, 127);
    background-color: black;
    border-color: rgb(29, 225, 127) ;
}